.image {
    margin: 10px;
}

.image img {
    display: inline-block;
    width: 200px;
    height: auto;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*justify-content: space-around;*/
    /*align-content: space-around;*/
}